- throw_content(:for_head) do
  %title= @page.title
  %script{ :src => "/javascripts/page.js", :type => "text/javascript" }

.panel
  %ul.panel
    %li
      %a.h1{ :href => "#", :title => "Make the current line a big heading" }
    %li
      %a.h2{ :href => "#", :title => "Make the current line a medium heading" }
    %li
      %a.h3{ :href => "#", :title => "Make the current line a small heading" }
    %li
      %a.bold{ :href => "#", :title => "Make selected text bold" }
    %li
      %a.italic{ :href => "#", :title => "Make selected text italic" }
    %li.break
      %a.colorRed{ :href => "#", :title => "Make selected text red" }
    %li
      %a.colorGreen{ :href => "#", :title => "Make selected text green" }
    %li
      %a.colorBlue{ :href => "#", :title => "Make selected text blue" }
    %li
      %a.increaseFontSize{ :href => "#", :title => "Make selected text larger" }
    %li
      %a.decreaseFontSize{ :href => "#", :title => "Make selected text smaller" }
    %li.break
      %a.insertHorizontalRule{ :href => "#", :title => "Insert horizontal rule" }
    %li.break
      %a.insertImage.thickbox{ :href => "#TB_inline?height=300&width=300&inlineId=imageUpload", :title => "Insert images" }
    %li.break
      %a.subscription.thickbox{:rel=>'nofollow', :href => "#{'/' / params[:handle] / 'subscription'}?height=300&width=400", :title => "Subscribe to update notifications by Email" }
    %li.break
      %a.thickbox{:href=> '/' + params[:handle] + '/insert_link?TB_iframe=true&height=200&width=500', :title=>'Insert a Link'} insert Link
      %br
    %li.break
      %a.thickbox{:href=>'#TB_inline?height=300&width=300&inlineId=changeURL', :title=>'Change the URL of this page'} change URL

  %p.progress

#wysiwyg{:contenteditable => "true"}
  = @page.body

#imageUpload
  = form :action => '/' / params[:handle], :method => 'POST', :enctype => 'multipart/form-data' do
    %input{ :name => "files[]", :type => "file" }
    %br
    %p.more
      %a{ :href => "#" }
        + upload more
    %p
      %input{:type=>'submit', :value=>'OK'}
      %a.cancel{:href=>"#"} Cancel

#changeURL
  %h3 Current URL of this page
  %p.url= "http://wiki.tils.net/<em>#{params[:handle]}</em>"

  %h3 Change it to
  = form :action => '/', :method => 'PUT' do
    %p
      %span.url http://wiki.tils.net/
      = hidden_field :name => 'handle', :value => params[:handle]
      = text_field :name => 'new_handle', :value => @page.title.gsub(/[^\w]+/, '_').downcase
    %p.help
      Don't worry: the old URL will be remembered, and it will redirect to the new URL.
    %p
      = submit 'OK'
      %a.cancel{:href=>"#"} Cancel
