- content_for :head do
  %title= @page.title
  %script{ :src => "/javascripts/pretty-date.js", :type => "text/javascript" }
  %script{ :src => "/javascripts/page.js", :type => "text/javascript" }

#wysiwyg.ui-corner-all{:contenteditable => "true", "data-version_number" => @page.latest_version.number }
  != @page.body
  .clear

#panel.ui-corner-all.ui-widget-content
  = render :partial => 'panel_edit'
  = render :partial => 'panel_history'


#imageUpload
  = form_tag page_assets_path(@page), :method => 'POST', :enctype => 'multipart/form-data' do
    %input{ :name => "assets[]", :type => "file" }
    %br
    %p.more
      %a{ :href => "#" }
        + upload more
    %p
      %input{:type=>'submit', :value=>'OK'}
      %a.cancel{:href=>"#"} Cancel

#changeURL
  %h3 Current URL of this page
  %p.url!= "http://wiki.tils.net/<em>#{@page.handle}</em>"

  %h3 Change it to
  = form_for(@page) do |f|
    %p
      %span.url http://wiki.tils.net/
      = f.text_field :handle, :value => @page.title.gsub(/[^\w]+/, '_').downcase
    %p.help
      Don't worry: the old URL will be remembered, and it will redirect to the new URL.
    %p
      = f.submit 'OK'
      %a.cancel{:href=>"#"} Cancel
