!!! Strict
%html{ html_attrs("en_us") }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :rel => "icon", :href => "/images/favicon.png", :type => "image/png" }/

    = css_include_tag :master
    = css_include_tag :thickbox
    = css_include_tag "jquery-ui-1.7.1.custom.css"

    = js_include_tag "/javascripts/jquery-1.3.2.min.js"
    = js_include_tag "/javascripts/jquery-ui-1.7.1.custom.min.js"
    = js_include_tag "/javascripts/jquery.form-2.18.js"
    = js_include_tag "/javascripts/thickbox-compressed.js"

    = catch_content :for_head

  %body{:id=> catch_content(:page_id) || 'body'}
    = catch_content :for_layout

    %p.footer
      Powered by:
      %a{ :href => "http://wiki.tils.net/"}
        %strong tilswiki
