<script type="text/javascript">
$(function() {
  $('#subscription').ajaxForm({
    url : '<%= '/' / @page / 'subscription' %>',
    success : tb_remove
  });

  $('#subscription a.cancel').click(function() {
    tb_remove();
    return false;
  });
});
</script>



<p>Notify me by email whenever someone updated <strong><%= @page %></strong>.</p>

<%= form(:action => '/' / @page / 'subscription', :method => 'post', :id => 'subscription') do %>

  <label for="email">Email Address</label>
  <%= text_field :id => 'email', :name => 'email' %>
  <%= submit 'Subscribe' %>
  <a href="#" class="cancel">Cancel</a>
<% end =%>

<p class="help">Don't worry, every notification email will have an unsubscribe link.</p>
